.app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: royalblue;
}

.navBar {
    display: flex;
    position: relative;
    justify-content: space-between;
    height: 70px;
    padding: 5px;
    width: 100%;
    margin:5px;
    border: 2px solid black;

}

.leftNav {
    display: block;
    float: left;
    border: 2px solid white;
    width: 80px;

}

.title {
    text-align: center;
    color: white;
    font-size: 50px;
    border: 2px solid white;
}

.rightNav {
    display: block;
    float: right;
    border: 2px solid white;
    width: 80px;

}

.content {
    display: block;
    padding: 10px;
    height: 80px;
    color: white;
    font-size: 23px;
}

.main-content {
    width: 100%;
    justify-content: space-between;
    
    
}

.button {
    display: flex;
    height: 100%;
    width: 15%;
    float: left;
    color: white;
}



#d3-container {
    display: flex;
    background-color: lightgrey;
    border: 2px solid black;
}

.rect:hover {
    color: royalblue;
}

.mj-rect {
    opacity: 70%;
}

